body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.name-second {
  text-transform: capitalize;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-logo {
  margin-right: 76px;
}

.footer-logo {
  margin-bottom: 16px;
}

.header-logo-part {
  color: #2e2f42;
}

.footer-logo-part {
  color: #f4f4fd;
}

.header-nav-iteam {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.header-nav-link {
  display: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link.inline::after {
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  display: flex;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: none;
  gap: 40px;
}

.contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
  /* padding: 24px 0;*/
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-nav-link:hover,
.header-nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.header-nav-link.inline {
  color: #404bbf;
}

.menu-open-btn {
  fill: #2f2f37;
  border: none;
  background: none;
  padding: 0;
}

.mob-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.mob-menu {
  position: fixed;

  z-index: 1;
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  background-color: #fff;
  padding: 24px 24px 40px 16px;
  justify-content: space-between;
  overflow: auto;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  pointer-events: auto;
}
.menu-close-btn {
  display: block;
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  /* border: none;
  background: none;*/
  padding: 0;
  border-radius: 100%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
}
.icon-close-black {
  fill: #2e2f42;
}

.mob-nav-iteam {
  margin-bottom: 40px;
}
.mob-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.inline {
  color: #404bbf;
}

.mob-contact-link {
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.inline {
  color: #404bbf;
}
.mob-icon-item {
  width: 40px;
  height: 40px;
}

.mob-contact-iteam {
  margin-bottom: 24px;
}
.mob-icon-list {
  display: flex;
  gap: 40px;
  margin-top: 48px;
  /* align-items: center;
  justify-content: center;*/
}

.mob-icon-linc {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon-icon {
  fill: #f4f4fd;
}

.section-top {
  width: 320px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/dark-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
  /* padding: 188px 0;*/
  padding: 72px 0;
}

@media screen and (-webkit-min-device-pixel-retio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .section-top {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-mob2x.jpg);
  }
}
.section-second {
  padding-top: 96px;
  padding-bottom: 120px;
}

.main-icon-wrap {
  display: none;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  background: #f4f4fd;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.part-third {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}

.maim-top {
  /* max-width: 496px;*/
  max-width: 216px;
  margin: 0 auto;
  /*font-weight: 500;*/
  font-weight: 700;
  /*font-size: 56px;*/
  font-size: 36px;
  /*line-height: 1.07;*/
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.main-btn {
  background: #4d5ae5;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
  background: #404bbf;
}

.main-btn:hover,
.main-btn:focus {
  background: #404bbf;
}

.name-second {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.tex-third {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
  /*gap: 24px;*/
  gap: 72px;
}

.main-iteam {
  /*width: calc((100% - 72px) / 4);*/
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

.name-third {
  font-size: 36px;
  margin-bottom: 8px;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;
}

.team-iteam {
  /* width: calc((100% - 72px) / 4);*/
  min-width: 264px;
  margin: 0;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.man {
  padding: 32px 0;
}

.name-third-man {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.icon-linc {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-linc:hover,
.icon-linc:focus {
  background-color: #404bbf;
}

.icon-icon {
  fill: #f4f4fd;
}
.section-fourth {
  padding-top: 96px;
  padding-bottom: 96px;
}

.bottom {
  background: #fff;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.main-list-img {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.main-iteam-img {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-iteam-img:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-iteam-img:hover .overlay {
  transform: translateY(0);
}

.bottom {
  padding: 32px 16px;
}

.name-third-img {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.tex-third-img {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.tex-third-man {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 74px 24px;
  justify-content: center;
  align-items: baseline;
}

.footer-logo-wrap {
  /* margin-right: 120px;*/
  /*width: 288px;
  height: 112px;*/
  /*margin-bottom: 72px;*/
  text-align: center;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-tex {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.soc-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-icon-list {
  gap: 16px;
}

.footer-icon-list .icon-linc:hover,
.footer-icon-list .icon-linc:focus {
  background-color: #31d0aa;
}

.footer-form-input {
  align-items: center;
  justify-content: center;
}

.footer-form-btn {
  flex-wrap: wrap;
  margin-left: auto;
}
.form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px;*/
}

.footer-input {
  /*width: 264px;*/
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}

.placeholder {
  color: #ffffff;
}

.footer-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.icon-btn {
  margin-left: 16px;
  fill: #fff;
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 584px;
  background: #fcfcfc;
  border-radius: 4px;
  padding: 72px 16px 16px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close-black {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn:hover .icon-close-black,
.modal-btn:focus .icon-close-black {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 14px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.modal-input:focus,
.modal-comment:focus {
  border-color: #4d5ae5;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon-input {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon-input {
  fill: #4d5ae5;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-comment {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-field-check {
  margin-bottom: 24px;
}

.modal-label-check {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-custom-check {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .modal-label-check > .modal-custom-check {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .mob-menu {
    display: none;
  }
  .menu-open-btn {
    display: none;
    text-align: center;
  }

  .header-nav-link {
    display: flex;
  }

  .header-nav-list,
  .contacts-list {
    display: flex;
  }
  .main-list {
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .main-iteam {
    width: calc((100% - 24px) / 2);
  }

  .main-iteam-img {
    width: calc((100% - 24px) / 2);
  }

  .contacts-list {
    display: block;
    margin-top: 16px;
  }

  .contact-iteam {
    margin-bottom: 12px;
  }
  .contact-link {
    font-weight: 400;
    font-size: 12px;
  }
  .section-top {
    width: 768px;
    /* padding: 112px 136px;*/
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-tab.jpg);
  }

  .name-third {
    text-align: left;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  .footer-logo-wrap {
    margin-right: 0;
    text-align: left;
  }

  .soc-media {
    text-align: left;
  }

  .form-text {
    text-align: left;
  }

  .maim-top {
    max-width: 496px;
    height: 120px;
    margin: auto;
    margin-top: 75px;
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07;
  }

  .footer-container {
    justify-content: flex-start;
    padding-left: 108px;
  }

  .footer-form {
    flex-wrap: wrap;
    gap: 24px;
  }

  .footer-form-btn {
    margin-left: 0;
  }
  .footer-btn {
    margin-top: 0;
  }
  .footer-input {
    width: 264px;
  }
  .modal {
    width: 408px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }

  .main-list {
    gap: 24px;
  }

  .main-iteam {
    width: calc((100% - 72px) / 4);
  }

  .main-icon-wrap {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .team-iteam {
    width: calc((100% - 72px) / 4);
  }

  .main-iteam-img {
    width: calc((100% - 48px) / 3);
  }

  .contact-iteam {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .contact-link {
    font-weight: 400;
    font-size: 16px;
  }

  .contacts-list {
    margin-top: 0;
  }
  .contacts-list {
    display: flex;
    gap: 40px;
  }

  .section-top {
    width: 1440px;
    padding: 188px 0;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 188px 0;
  }

  @media screen and (-webkit-min-device-pixel-retio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-top {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office2x.jpg);
    }
  }

  .maim-top {
    max-width: 496px;
    margin: auto;
    font-size: 56px;
    line-height: 1.07;
  }

  .section-second {
    padding-top: 120px;
  }

  .part-third {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .name-third {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    line-height: 1.2;
  }
  .tex-third {
    font-weight: 400;
  }

  .section-fourth {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .fourth-container {
    padding-left: 15px;
    gap: 0;
  }
  .footer-logo-wrap {
    margin-right: 120px;
  }

  .footer-form-btn {
    /*display: none;*/
    flex-wrap: wrap;
    margin-left: auto;
  }

  .footer-form {
    gap: 24px;
  }
}
